<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/Verk3styles.css">
<title>Fréttir</title>
<h2>Hasarfréttir</h2>

</head>
<body>
<div class='adal'>
<section class="Hafnar">

<h2>Flóð í Hafnarfirði</h2>
<img src='/static/myndH.jpg'>

</section>

<ul>
<li><a href='/frett1'>Mikilvæg frétt</a></li>
<li><a href='/frett2'>Önnur mikilvæg frétt</a></li>
<li><a href='/frett3'>Ekkert rosalega mikilvæg</a></lsi>
<li><a href='/frett4'>Kannski mikilvæg</a></li>
</ul>
</div>

</body>
</html>